html {
  font-size: 62.5%;
  line-height: 1rem;
  box-sizing: border-box;
}

body {
  padding: 3rem;
}
.nav {
  /* padding: 5rem; */
  display: flex;
  justify-content: space-between;
}
/* .ant-modal-body {
  padding-bottom: 1rem;
} */
